body{
	 background-image: url(../image/back.png);
	 background-repeat:no-repeat;
	 background-size: cover;
}
.ui.horizontal.segments>.segment {
	background-color: #fff;
	min-width: 30%;
}
.ui.horizontal.segments>.center.aligned.segment{
	background-color: #fff;
	max-width: 30%;
}